:root {
    --mustard: #fbb02d;
    --dark-green: #5c8001;
    --light-green: #7cb518;
    --dark-grey: #1a252f;
    --orange: #f09464;
}

.nav-link {
    color: white !important;
    text-transform: uppercase;
    font-weight: bolder;
}

/* .nav-link:active, .active {
    background-color: var(--mustard) !important;
    border-radius: 7%;   
}


.nav-link:hover:not(:active) {
    color: var(--mustard) !important;
} */

.nav-item:hover:active, .active {
    background-color: red;
}

.nav-item:not(hover):active, .active:not(:hover) {
    background-color: blue;
}

.nav-item:hover:not(:active), .nav-item:hover:not(.active) {
    background-color: yellow;
}




.navbar-brand {
    color: white !important;
    font-size: 1.7em;
    font-weight: bolder;
    
}

/* TODO improve it pleaaaaaase */
.shrink {
    max-height: 50px;
}