:root {
    --mustard: #fbb02d;
    --dark-green: #5c8001;
    --light-green: #7cb518;
    --dark-grey: #1a252f;
    --orange: #f09464;
}

.bg-primary {
    background-color: var(--mustard) !important;
}

.bg-mustard {
    background-color: var(--dark-green);
}

body {
    font-family: 'Lato', sans-serif !important; 
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/* ************** */
/* Carousel style */
/* ************** */
.slick-prev, .slick-next {
    background-color: white;
    border: none;
    color: var(--dark-grey);
    
}

.carousel-link {
    color: var(--dark-grey);
    font-weight: bolder;
    text-transform: uppercase;
    border: none;
    width: 125px;
    text-align: center;
}

.carousel-link:hover {
    background-color: var(--mustard);
    border: none;
}


.slick-slider {
    display: flex !important;
    margin-left: 10%;
    margin-right: 10%;
}

.slider-menu {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;
    background-color: var(--light-green);
}


/* ************ */
/* Header style */
/* ************ */

header {
    margin-bottom: 2%;
    padding-bottom: 1%;
}

#main-title {
    text-transform: uppercase;
    font-weight: bolder;
}

.fa-utensils {
    margin-left: 2%;
    margin-right: 2%;
}
